<a href="https://colab.research.google.com/github/Malvine254/basic-ml-course/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment 1 (1 pt)

Write a function is_triangle to check the validity of a triangle. This function should receive 3 parameters corresponding to the length of 3 edges. It should return boolean True if all 3 edges can form a triangle, else it returns False.

In [ ]:
def is_triangle (a,b,c):
  if a+b>=c and b+c>=9 and c+a>=b:
    return True
  else:
    return False

#Assignment 2 (1 pt)

Print odd numbers from 1 to 10 using for loop and range.

Expected output:

1
3
5
7
9

In [18]:
for x in range (1,10,2):
  print(x)

1
3
5
7
9

#Assignment 3 (1 pt)

Write a function get_reverse that return a reversed string.

Input: Kenya

Output: ayneK

In [ ]:
def reverse (s):
  str = " "